@using BergerFlowTrading.Shared.HttpUnitOfWork

@inject HttpUnitOfWork uow

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BergerFlowTrading</a>
    <button class="navbar-toggler" onclick="@ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" onclick="@ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        @if(UserState.CurrentUser != null && UserState.CurrentUser.Roles.Contains("BasicPlan"))
        {
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ExchangesSecretManagment">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Secrets Managment
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="LimitArbitrage4Settings">
                <span class="oi oi-list-rich" aria-hidden="true"></span> LimitArbitrage4 Settings
            </NavLink>
        </li>
        }
        @if(UserState.CurrentUser != null && UserState.CurrentUser.Roles.Contains("Admin"))
        {
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ExchangesManagment">
                <span class="oi oi-list-rich" aria-hidden="true"></span> ExchangesManagment
            </NavLink>
        </li>
        }
    </ul>
</div>

@functions {
    [CascadingParameter] UserStateProvider UserState { get; set; }

    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
   
}
