@using BergerFlowTrading.Client.Shared.Components.Authentication
@using BergerFlowTrading.Shared.DTO.Identity


@inherits LayoutComponentBase
@layout MainLayout

@if (UserState.CurrentUser == null) // Retrieving the login state
{
    <text>Loading...</text>
}
else if (UserState.UserStateMode == UserStateMode.SignedOut)
{
    @Body
}
else
{
    <div class="main">
        <h2>You're signed out</h2>
        <p>To continue, please sign in.</p>
        @*<button class="btn btn-danger" onclick="@">Sign in</button>*@
    </div>
}

@functions {
    [CascadingParameter] UserStateProvider UserState { get; set; }
}
